<a href="https://colab.research.google.com/github/DolevSeren/DI-Bootcamp/blob/main/dailychallengeW3D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.read_csv("/content/sample_data/datascience_salaries.csv")

In [3]:
print(df.columns)

Index(['Unnamed: 0', 'job_title', 'job_type', 'experience_level', 'location',
       'salary_currency', 'salary'],
      dtype='object')

In [4]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['Salary_normalized'] = scaler.fit_transform(df[['salary']])

In [9]:
df.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary,Salary_normalized
0,0,Data scientist,Full Time,Senior,New York City,USD,149000,0.601010
1,2,Data scientist,Full Time,Senior,Boston,USD,120000,0.454545
2,3,Data scientist,Full Time,Senior,London,USD,68000,0.191919
3,4,Data scientist,Full Time,Senior,Boston,USD,120000,0.454545
4,5,Data scientist,Full Time,Senior,New York City,USD,149000,0.601010

In [14]:
from sklearn.decomposition import PCA

numeric_cols = df.select_dtypes(include=['float64', 'int64'])
scaled_data = MinMaxScaler().fit_transform(numeric_cols)
pca = PCA(n_components=2)
reduced_data = pca.fit_transform(scaled_data)
pca_df = pd.DataFrame(reduced_data, columns=['PC1', 'PC2'])

In [16]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()
print(salary_stats)

  experience_level          mean   median
0            Entry  36111.111111  30000.0
1        Executive  76076.923077  46000.0
2              Mid  51786.885246  51000.0
3           Senior  75088.033012  68000.0